.notFound-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0px;
}

.not-foundImg {
  width: 350px;
  height: 350px;
}
.title {
  font-size: 32px;
  color: #183b56;
  font-family: 'Roboto';
  font-weight: bold;
}
.description {
  font-size: 22px;
  color: #5a7184;
  font-family: 'Roboto';
  font-weight: bold;
}
